<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Flask Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="e:\VS\Python\Flask\.venv\Scripts\python.exe|e:\VS\Python\Flask\.venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="wsgi.app" />
        <add key="PYTHONPATH" value="e:\VS\Python\Flask" />
    </appSettings>
</configuration>
