{% extends "layout.jinja2" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="display-4 text-primary">Hello World</h1>
    <p class="lead">This is the home page using.this is from the index.</p>
</div>
{% endblock %}
